body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #1abc9c;
  }
  h1 {
      color: black;
      align-self: center;
  }
  #title {
    text-align: center;
      }
  p {font-size: 16px;}
  /* .margin {margin-bottom: 45px;} */
  .bg-1 { 
    background-color: white; 
    color: black;
  }
  .bg-2 { 
    background-color: #1abc9c; /* light green */
    color: #fff;
  }
  .container-fluid {
    padding-top: 50px;
    padding-bottom: 70px;
  }

